<footer>
    <div>
        <i class="fa-brands fa-twitter social-icon"></i>
        <i class="fa-brands fa-facebook-f social-icon"></i>
        <i class="fa-brands fa-instagram social-icon"></i>
        <i class="fa-solid fa-envelope social-icon"></i>
        <p>© Copyright 2022 Catalin Scurt</p>
    </div>
</footer>
</body>



<script src="js/index.js"></script>

</html>